[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[scripts]
project = "django-admin startproject"
application = "python manage.py startapp"
server = "python manage.py runserver"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
createsuperuser = "python manage.py createsuperuser"

[packages]
django = "*"
djangorestframework = "==3.11.2"
django-cors-headers = "*"
cloudinary = "*"
pillow = "*"
djoser = "==1.7.0"
djangorestframework-simplejwt = "==4.3.0"
psycopg2 = "==2.7.7"
gunicorn = "*"
django-heroku = "*"

[requires]
python_version = "3.6"
